@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-popsies: "popsies", sans-serif;
}
@font-face {
    font-family: popsies;
    src: url(./Assets/fonts/Popsies.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}